!!! 5
%html{:lang => 'en'}
  / Hello dear source reader, feel free to wander around.
  %head
    / I *love* UTF-8
    %meta{:charset => "utf-8"}
    %title #{"#{title} - " if title}rkh.im
    %script{:src => "/articles.js?#{tag = Base64.encode64(Blog.etag)}", :type => "text/javascript"}
    %script{:src => "/blog.js?#{tag}", :type => "text/javascript"}
    %link{:href => "/blog.css?#{tag}", :rel => "stylesheet", :type => "text/css"}
    %link{:rel => "alternate", :type => "application/rss+xml", :title => "rkh.im", :href => 'http://feeds.feedburner.com/rkh'}
    <meta name="google-site-verification" content="DnzAO3eU_wIWYrjuBbtf-uEw9C-q1_QtMknPj4xHu7s" />

  %body.hyphenate
    / IE 9 supports CSS3/HTML5, or at least that's what I'm told.
    /[if lt IE 9]
      %script(type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/chrome-frame/1/CFInstall.min.js")
      #prompt
      :javascript
        window.attachEvent("onload", function() { CFInstall.check({ mode: "inline", node: "prompt" })});

    .blog= yield
