%article{'data-source' => url.to_s}

  %nav
    / No hint in what direction to move... pure magic. Unless you're in Opera/IE, sucker!
    - link = proc do |klass, symbol, page|
      - if page == self
        %span{:class => "link #{klass}"}= symbol
      - else
        - short_title = "#{page.title[0..30]}#{'&hellip;' if page.title.length > 31}"
        %a{:class => "link #{klass}", :href => page.url, :title => short_title}= symbol
    - link['first', '&lt;&lt;', articles.first]; link['prev',  '&lt;',     prev_page     ]
    - link['next',  '&gt;',     next_page     ]; link['last',  '&gt;&gt;', articles.last ]

  %aside
    / me likez
    %p
      %a{:href => "http://feeds.feedburner.com/rkh", :title => "Subscribe to my feed", :rel => "alternate", :type => "application/rss+xml"}
        %img{:src => "/images/feed-icon.png", :alt => "Subscribe to my feed"}

  %header
    %h1{:"xmlns:dc" => "http://purl.org/dc/elements/1.1/", :property => "dc:title"}= title
    .author
      by <a href="mailto:k.haase@finn.de" xmlns:cc="http://creativecommons.org/ns#" property="cc:attributionName">Konstantin Haase</a>,
      %time.timeago{:pubdate => true, :datetime => date.xmlschema}= date.strftime "%Y/%m/%d, %H:%M %Z"

  %section.content
    = yield

  %section.license
    <a rel="cc:attributionURL" href="http://rkh.im#{url}">This work</a> is licensed under a
    <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/de/deed.en">Creative Commons
    Attribution-ShareAlike 3.0 Germany License</a>. Any source code included is, unless stated otherwise,
    licensed under a <a rel="licenses" href="http://creativecommons.org/licenses/MIT/">MIT License</a>.
    - if slug
      %span.noprint This does not apply for comments (below).

  %section.comments
    / I both love and hate disqus

